<div class="panel" ng-controller="userAddController">
    <form name="User" role="form" validate>
        <h2 translate>Add a new user</h2>

        <div ng-show="formInit.resolvernames.length">
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="resolvername" translate>Resolver</label>
                        <select class="form-control" required
                                name="resolvername"
                                id="resolvername"
                                ng-model="resolvername"
                                ng-change="getAddUserAttributes(resolvername)"
                                ng-options="resolvername for resolvername in formInit.resolvernames">
                        </select>
                    </div>
                    <div class="help-block" translate>
                        These are the resolvers marked as editable. You can add
                        a user
                        to the resolver. The user will appear in the realms,
                        that
                        contain this resolver.
                    </div>
                </div>

             <div class="col-xs-6" ng-show"resolvername">
                 <div ng-repeat="field in leftColumn">
                     <ng-form name="formLeft">
                     <!-- TEXT FIELDS -->
                     <div ng-if="field.type=='text'" class="form-group">
                        <label for="{{ field.label }}" translate>{{ field.label }}</label>
                        <input type="{{ field.type }}" name="{{ field.name }}" id="{{field.name}}" data-ng-model="field.data" class="form-control" ng-required="field.required"/>
                        <span data-ng-show="{{'formLeft.'+field.name+'.$dirty && formLeft.'+field.name+'.$error.required'}}">Required!</span>
                     </div>
                     <!-- PASSWORD FIELDS -->
                     <div ng-if="field.type=='password'" class="form-group">
                        <label class="control-label" for="{{ field.label }}" translate>{{ field.label}}</label>
                        <input type="{{ field.type }}" name="{{ field.name }}" id="{{field.name}}" data-ng-model="field.data"  class="form-control" ng-required="field.required"/>
                        <span data-ng-show="{{'formLeft.'+field.name+'.$dirty && formLeft.'+field.name+'.$error.required'}}">Required!</span>
                     </div>
                     <!-- EMAIL FIELDS -->
                     <div ng-if="field.type=='email'" class="form-group">
                        <label for="{{ field.label }}" translate>{{ field.label }}</label>
                        <input type="{{ field.type }}" name="{{ field.name }}" id="{{field.name}}" data-ng-model="field.data"  class="form-control" ng-required="field.required"/>
                        <span data-ng-show="{{'formLeft.'+field.name+'.$dirty && formLeft.'+field.name+'.$error.required'}}">Required!</span>
                        <span data-ng-show="{{'formLeft.'+field.name+'.$dirty && formLeft.'+field.name+'.$error.email'}}">Not email!</span>
                     </div>
                     </ng-form>
                </div>
            </div>
             <div class="col-xs-6">
                 <div ng-repeat="field in rightColumn">
                     <ng-form name="formRight">
                     <!-- TEXT FIELDS -->
                     <div ng-if="field.type=='text'" class="form-group">
                        <label for="{{ field.label }}" translate>{{ field.label }}</label>
                        <input type="{{ field.type }}" name="{{ field.name }}" id="{{field.name}}" data-ng-model="field.data" class="form-control" ng-required="field.required"/>
                        <span data-ng-show="{{'formRight.'+field.name+'.$dirty && formRight.'+field.name+'.$error.required'}}">Required!</span>
                     </div>
                     <!-- PASSWORD FIELDS -->
                     <div ng-if="field.type=='password'" class="form-group">
                        <label class="control-label" for="{{ field.label }}" translate>{{ field.label}}</label>
                        <input type="{{ field.type }}" name="{{ field.name }}" id="{{field.name}}" data-ng-model="field.data"  class="form-control" ng-required="field.required"/>
                        <span data-ng-show="{{'formRight.'+field.name+'.$dirty && formRight.'+field.name+'.$error.required'}}">Required!</span>
                     </div>
                     <!-- EMAIL FIELDS -->
                     <div ng-if="field.type=='email'" class="form-group">
                        <label for="{{ field.label }}" translate>{{ field.label }}</label>
                        <input type="{{ field.type }}" name="{{ field.name }}" id="{{field.name}}" data-ng-model="field.data"  class="form-control" ng-required="field.required"/>
                        <span data-ng-show="{{'formRight.'+field.name+'.$dirty && formRight.'+field.name+'.$error.required'}}">Required!</span>
                        <span data-ng-show="{{'formRight.'+field.name+'.$dirty && formRight.'+field.name+'.$error.email'}}">Not email!</span>
                     </div>
                     </ng-form>
                </div>
            </div>
            </div>

            <div class="text-center">
                <button ng-click="createUser()" class="btn btn-primary"
                        ng-disabled="User.$invalid">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span translate>Save user</span>
                </button>
            </div>
        </div>
        <div ng-show="formInit.resolvernames.length==0">
            <div class="help-block" translate>
                You have no editable resolvers defined. So you can not write
                to any user store. If you want to add users, you need to
                <a ui-sref="config.resolvers.list">define an editable
                    resolver</a>
                 (like SQLResolver) and check the
                box "Edit user store".
            </div>
        </div>
    </form>
</div>
